doctype html
html(lang="en")
	head
		include assets/includes/head
		title page not found < projects.niiaryeh.me

	body
		include assets/includes/header

		main
			section#error404
				div
					h2 404
					p page not found

		include assets/includes/footer
		script(src='/assets/scripts/script.js')
