@media screen and (max-width:600px) {

html,body {
    //overflow-x: hidden;
}

nav {
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding-top:0;
}   

.portf {
    margin:5px 0;
}

.ads {
   width: 100%;
   max-width: 100vw;
   height:45px;
   margin-top:50px;
   margin-left:20px;
   padding-right:40px;
   background-color: transparent;
    
}

.ads img {
    width:100%;
    height:auto;
}

.cont {
    width:100%;
}

.portbox img {
    width:100%;
    height:auto;
}

.portitems {
    grid-template-columns: 1fr;
    margin: 0 20px;
}

.itemdesc {
    
    
}

.btn{
    display: block;
    width: 100%;
    margin-top:140px;
    padding: 0 20px;
}

button.git {
    width:100%;
}

button.shop {
    width: 100%;
    margin-top: 10px;
}

.spacer {
    padding-top:1px;
}

form {
    flex-direction: column;
    
}

div#frm {
    width:90vw;

    margin-left:20px;
    padding-right:50px;
    
}

input[placeholder] {
    text-align:center;
}

input[type="submit"] {
    margin-top:10px
}




footer {
    flex-direction: column;
}

.copyright {
    margin:10px 0;
}

.socials {
    margin:0;
}

}