@media screen and (max-width:900px) {

html,body {
    overflow-x: hidden;
}

.nav-cont {
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding-top:0;
} 

.hdng {
    margin-bottom:0;
    margin-top:0;
}

nav .desc {
    margin-top:10px;
    margin-bottom: 0;
    padding-left:0px;
}

.featured {
	flex-wrap: wrap;
	padding: 0 20px;
}

.featured-image {
	padding-right: 0;
}

.featured-desc {
	margin-top: 0px;
	height: auto;
}

.featured-desc .title, .featured-desc .heading {
	padding-bottom: 10px;
}

.portf {
    margin-top:10px;
	margin-left:0;
	margin-right:0;
}

.inner-nav {
	right:50%;
	transform: translate(50%, 30%)
}

.hamburger {
	margin-top: 20px;
	margin-bottom: -10px;
}

.ads {
   width: auto;
   max-width: 100%;
   height:45px;
   margin-top:50px;
   margin-left:20px;
   padding-right:20px;
   background-color: transparent;
    
}

.ads img {
    width:100%;
    height:auto;
}

.cont, .contain {
    width:100%;
}

.portbox img {
    width:100%;
}

.portbox {
    height:auto;
    background-color:transparent
}

.portitems {
    grid-template-columns: 1fr;
    margin: 0 20px;
}
  

.btn{
    display: block;
    width: 100%;
    margin-top:50px;
    padding: 0 20px;
}

button.git {
    width:100%;
}

button.shop {
    width: 100%;
    margin-top: 10px;
}

.spacer {
    padding-top:1px;
}

form {
    flex-direction: column;
    
}

div#frm {
    width:auto;
    margin-left:20px;
    margin-right:20px;
}

input[placeholder] {
    text-align:center;
}

input[type="submit"] {
    margin-top:10px
}

footer {
	padding: 50px 0;
}

.footer-container {
    flex-direction: column;
}

.copyright {
    margin:10px 0;
    padding: 0 20px;
    line-height: 2;
	order: 2;
}

.socials {
    margin:0;
    line-height: normal;
	order: 1;
}

.theme {
	order: 3;
}

.signboards, .theme-img, .codes-aside, .codes, .about-desc, .about-img {
    margin: 0 20px;
}

.theme-img, .codes-aside {
    margin-bottom:50px;
}

.signboards {
    margin-bottom:3px;
}

}