@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    cursor: url(https://cur.cursors-4u.net/cursors/cur-9/cur817.cur), auto !important;
	scroll-behavior: smooth;
}

::selection {
    background-color: #ededed;
    color: #000;
}

body {
    background-color: var(--background-color);
}

/* colors */

:root {
	--filter: grayscale(0%);
	--background-color: #e7e7e8;
	--accent: #231f20;
	--text: #ededed;
	--dark-text: #ededed;
	--ads: #d2bba9;
	--portbox: #c4c4c4;
	--portdesc: #444;
	--white: #fff;
	--black: #000;
	/* badges */
	--nuxt: #00dc82;
	--vue: #42b883;
	--bootstrap: #7952b3;
	--html: #e44f26;
	/* buttons */
	--git: #6e5495;
	--shop: #d2bba9;
	/* child pages*/
  }

  @media (prefers-color-scheme: dark) {
	:root {
	--filter: grayscale(100%);
	--background-color: #151314;
	--accent: #231f20;
	--text: #ededed;
	--dark-text: #121212;
	--ads: #d2bba9;
	--portbox: #090808;
	--portdesc: #c4c4c4;
	--white: #000;
	--black: #fff;
	/* badges */
	--nuxt: #fff;
	--vue: #fff;
	--bootstrap: #fff;
	--html: #fff;
	/* buttons */
	--git: #ededed;
	--shop: #ededed;
	}
  }

  [color-scheme=light] {
	--filter: grayscale(0%);
	--background-color: #e7e7e8;
	--accent: #231f20;
	--text: #ededed;
	--dark-text: #ededed;
	--ads: #d2bba9;
	--portbox: #c4c4c4;
	--portdesc: #444;
	--white: #fff;
	--black: #000;
	/* badges */
	--nuxt: #00dc82;
	--vue: #42b883;
	--bootstrap: #7952b3;
	--html: #e44f26;
	/* buttons */
	--git: #6e5495;
	--shop: #d2bba9;
	/* child pages*/
  }

  [color-scheme=dark] {
	--filter: grayscale(100%);
	---background-color: #151314;
	--accent: #231f20;
	--text: #ededed;
	--dark-text: #121212;
	--ads: #d2bba9;
	--portbox: #090808;
	--portdesc: #c4c4c4;
	--white: #000;
	--black: #fff;
	/* badges */
	--nuxt: #fff;
	--vue: #fff;
	--bootstrap: #fff;
	--html: #fff;
	/* buttons */
	--git: #ededed;
	--shop: #ededed;
  }

/* nav styles */
nav {
    background-color: var(--accent);
    padding:40px 0;
}

nav .nav-cont {
	margin: 0 auto;
    max-width:970px;
    display: flex;
    justify-content:center;
	align-items: center;
	position:relative;
}

.hdng {
    text-transform:uppercase;
    letter-spacing:0.42em;
    font-size:12px;
    color: var(--text);
	margin-bottom: 0;
}

.hdng > a {
    font-weight: 700;
    text-decoration: none;
    color: var(--text);
	margin-bottom: 0px;
}

.desc {
	margin-bottom: 0px;
    text-transform:uppercase;
    letter-spacing:0.32em;
    font-size:7px;
    color: var(--text);
    padding-left:20px;
    font-weight: 700;
    /* padding-top:3px; */
    /* line-height: normal; */
}

.inner-nav {
	display: flex;
	column-gap: 20px;
	opacity: 0;
	transition: all .5s;
	position: absolute;
	right: 40px;
	z-index: 20;
}

.inner-nav a {
	text-decoration: none;
	text-transform:uppercase;
    letter-spacing:0.42em;
    font-size:7px;
    font-weight: 700;
    color: var(--text);
}

.inner-nav.is-active {
	opacity: 1;
}

.portf {
    display: inline-block;
    position: relative;
    line-height: normal;
	margin-left: auto;
	text-decoration: none;
	text-transform:uppercase;
    letter-spacing:0.42em;
    font-size:7px;
    font-weight: 700;
    color: var(--text);
	transition: all .5s;
	z-index:10;
}

.portf.is-active {
	opacity: 0;
}

.portf:hover {
    color: var(--text);
}

/* portfolio link anim */
  
  .portf:after {
    content: '';
    position: absolute;
    width: 99%;
    transform: scaleX(0);
    height: 1px;
    bottom: -10px;
    left: -1px;
    background-color: #ededed;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .portf:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

/*end of portfolio link anim */

.hamburger {
	padding: 0;
	transform: scale(.4,.4);
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	background-color: #ededed;
	height: 3px;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
	background-color: #ededed;
}

nav > a {
    text-transform:uppercase;
    letter-spacing:0.42em;
    font-size:7px;
    font-weight: 700;
    color: var(--text) !important;
    text-decoration: none;
}

.ads {
    background-color: var(--ads);
    width: 970px;
    max-width: 970px;
    height: 90px;
    margin: 50px auto;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 7px;
    letter-spacing: 0.32em;
    font-weight: 700;
    color: var(--text);
}

.cont {
    margin: 0 auto;
    width:970px;
    margin-bottom:50px;
    padding-left:0;
    padding-right:0;
}

.portitems {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
    grid-auto-flow: row;
    }

.portbox {
    background-color: var(--portbox);
    padding: 0;
    height: 165px;
    position:relative;
}

.portbox .new-btn {
    position:absolute;
    top: 7px;
    right: 7px;
    padding:6px;
    background-color: var(--black);
    color: var(--white);
    font-size: 7px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.02em;
    z-index: 10;
  }

  .new-btn.nuxt {
    background-color: var(--nuxt);
}

  .new-btn.vue {
      background-color: var(--vue);
  }

  .new-btn.bootstrap {
      background-color: var(--bootstrap);
  }

  .new-btn.html {
    background-color: var(--html);
}

.portbox img {
    width: 310px;
    height: 165px;
    object-fit: cover;
    opacity:0.8;
    transition: all 0.5s ease-in-out;
	filter: var(--filter);
}

.portbox img:hover {
    opacity: 1;
	filter: grayscale(0%);
}

.itemdesc{
    font-size:7px;
    text-transform: uppercase;
    font-weight: 700;
    transition: all 0.5s ease-in-out;
    color: var(--portdesc);
}

a > span[class="itemdesc"] {
    text-decoration: none;
}

.itemdesc:hover {
    opacity: 0.5;
}


.btn {
    margin:0 auto;
    width:970px;
}

button.git {
    background-color: var(--git);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.32em;
    font-size: 7px;
    font-weight: 700;
    box-shadow: none;
    padding: 30px;
    width:49%;
    color: var(--dark-text);
    border:0;

}

button.shop {
    background-color: var(--shop);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.32em;
    font-size: 7px;
    font-weight: 700;
    box-shadow: none;
    padding: 30px;
    width:49%;
    float: right;
    color: var(--dark-text);
    border: 0;
}

button {
    transition: all 0.3s ease-in-out;
}
/*
button:hover {
    transform: scale(0.96);
}*/

.spacer {
    clear: both;
    margin:50px 0;
}

div#frm {
    margin:0 auto;
    border: 1px solid var(--black);
    width:970px;
    padding:40px;
    margin-bottom:50px;
	display:flex;
    justify-content: center;
	column-gap:10px;
	text-transform:uppercase;
	font-size:10px;
	color: var(--black);
}

#frm #mail {
	font-weight:700;
}

#frm #mail a {
	text-decoration:none;
	color: var(--black);
}

input[type="email"] {
    background-color: rgba(0,0,0,0);
    border:0;
    outline:0;
}

input[placeholder] {
    font-size: 7px;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 0.32em;
}


input[type="submit"] {
    text-transform: uppercase;
    font-size: 7px;
    font-weight: 700;
    color:var(--black);
    letter-spacing: 0.32em;
    background-color: transparent;
    border:0;
    text-align: center;
}

footer {
    background-color: var(--accent);
}


footer .footer-container {
	display:flex;
    justify-content: space-between;
    align-items: center;
	max-width: 970px;
	height:150px;
	margin: 0 auto;
}

.copyright {
    text-transform: uppercase;
    font-size: 7px;
    letter-spacing: 0.32em;
    text-align: center;
    color: var(--text);
}

/*
.socials {
    margin-right: 200px;
}
*/

.fa {
    color:var(--text);
    margin:0 5px;
    font-size:12px;
}

/* error page styles */

#error404 {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent);
}

#error404 h2 {
    font-size: 100px;
    color: var(--text);
}

#error404 p {
    text-align: center;
    font-size:10px;
    color:var(--text);
}

/* children styles */

/* 6ix3s */

.theme-img {
    background-color: gray;
    overflow: hidden;
    margin-bottom:50px;
}

.theme-img img {
    width:100%;
    height:auto;
    object-fit: cover;
}

.signboards {
    background-color: var(--accent);
    color: var(--text);
    padding:25px;
    font-size:13px;
    letter-spacing: -0.05em;
}

.row a {
    text-decoration: none;
}

.row {
    margin-bottom:50px;
}

.codes {
    background-color: #121212;
    height:430px;
    overflow:hidden;
    color: white;
    font-size: 8px;
    padding:20px;
    position:relative;
    user-select: all;
    pointer-events: none;
}

.codes:after {
    content: '';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image: linear-gradient(transparent, transparent, #121212 95%);
    
}

.codes-aside {
    background-color:white;
    height:430px;
}

.codes-aside h2 {
    font-size: 19px;
    font-weight: 600;
    letter-spacing: -0.05em;
    text-align: center;
    margin-bottom:15px;
}

.codes-aside .highlight-btn {
    background-color:#231F20;
    padding:20px;
    color:var(--text);
    width:290px;
    text-align:center;
    font-weight: 500;
    text-transform: capitalize;
}

.codes-aside .options-desc {
    background-color:var(--text);
    padding:20px;
    color:#231f20;
    width:290px;
}

.options-desc h2 {
    text-align: left;
}

.options-desc li, .options-desc ul {
    list-style-type: none;
    padding-left:0;
    font-size:12px;
    letter-spacing: -0.546px;

}

/* about */

#about {
	margin-top: 50px;
}

#about .about-desc {
	background-color: var(--accent);
    color: var(--text);
    padding:25px;
    font-size:13px;
    letter-spacing: -0.05em;
	min-height:400px;
}

#about .about-desc .signature {
	margin-top: 30px;
}

#about .about-img {
	height:400px;
	overflow: hidden;
}

#about .about-img img {
	width: 100%;
	height:100%;
	object-fit: cover;
}