- const markup = `
<body>
    <div class="divclass">
      <h1 class="class1 class2 class3" id="id1">Heading</h1>
      <p class="class2 class3 class1" id="id2">Para1</p>
    </div>
</body>
`


xpm#codediv.
	code #{markup} 