footer
	.footer-container
		.socials
			a(href='https://twitter.com/fkadcln' target='_blank')
				i.fa.fa-twitter(aria-hidden='true')
			a(href='https://www.instagram.com/n.aryeh' target='_blank')
				i.fa.fa-instagram(aria-hidden='true')
			a(href='https://github.com/dcln00/' target='_blank')
				i.fa.fa-github(aria-hidden='true')
			a(href='https://www.linkedin.com/in/nii-aryeh' target='_blank')
				i.fa.fa-linkedin(aria-hidden='true')
			a(href='https://www.behance.net/niiaryeh' target='_blank')
				i.fa.fa-behance(aria-hidden='true')
		span.copyright &copy; Copyright 2023 niiaryeh.com all rights reserved
		.theme

		