nav
	.nav-cont
		h1.hdng
			a(href='/') projects.niiaryeh.me
		p.desc Welcome to my github codefolio
		a.portf(href='https://www.niiaryeh.me' target='_blank') niiaryeh.me
		.inner-nav 
			a(href='/') home
			a(href='/about') about
			a(href='#frm') contact
		button.hamburger.hamburger--collapse(type='button')
			span.hamburger-box
				span.hamburger-inner