meta(charset='UTF-8')
meta(name='Description' content="Nii Aryeh's Github Portfolio")
meta(name='Keywords' content='github, portfolio, frontend, developer, coding, skills, web, webdesign, web design, programmer, design, html, css, javascript')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
link(rel='icon' href='/assets/images/favicon-01.svg' type='image/x-icon')
// og
meta(property='og:locale' content='en_US')
meta(property='og:title' content='niiaryeh.com')
meta(property='og:type' content='website')
meta(property='og:url' content='https://www.niiaryeh.com/')
meta(property='og:image' content='https://raw.githubusercontent.com/dcln00/dcln00.github.io/main/thumbs/niiaryeh.com.png')
meta(property='og:description' content="Nii Aryeh's Github Portfolio.")
meta(property='og:site_name' content='niiaryeh.com')
meta(property='og:image:alt' content='A web developers portfolio.')
// tc
meta(name='twitter:card' content='summary')
meta(name='twitter:site' content='@fkadcln')
meta(name='twitter:title' content='niiaryeh.com')
meta(name='twitter:description' content="Nii Aryeh's Github Portfolio.")
meta(name='twitter:image' content='https://raw.githubusercontent.com/dcln00/dcln00.github.io/main/thumbs/niiaryeh.com.png')
meta(name='twitter:image:alt' content='A web developers portfolio.')
// end
link(rel='stylesheet' href='/assets/dependencies/font-awesome-4.7.0/css/font-awesome.min.css')
link(rel='stylesheet' href='/assets/dependencies/hamburgers-master/dist/hamburgers.css')
link(rel='stylesheet' href='/assets/style.css' type='text/css')
link(rel='stylesheet' href='/assets/mobile.css' type='text/css')